<h1>カレンダー</h1>
<div id='calendar'></div>
<div id="log-detail" class="mt-5"></div>
<div class="logs-button">
  <% @logs.each do |log| %>
    <%= link_to log.date, wod_log_path(log.wod, log), remote: true, id: "hiding-log-detail-link-id-#{log.id}", class: "d-none" %>
  <% end %>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    let calendar = new Calendar(calendarEl, {
      plugins: [ dayGridPlugin, timeGridPlugin, listPlugin ],
      initialView: 'dayGridMonth',
      height: "auto",
      fixedWeekCount: false,
      headerToolbar: {
        left: 'prev',
        center: 'title',
        right: 'today next'
      },
      events: "<%= logs_path(format: :json) %>",
      eventClick: function(info) {
        info.jsEvent.preventDefault();
        $.ajax({
          // MARK: railsのdata-remoteを使っている
          url: info.event.url
        }).always(function() {
          $('html, body').animate({scrollTop: $('#log-detail').offset().top}, 500, 'swing');
        })
      }
    });
    calendar.render();
  });
</script>
